::ng-deep .p-tabview-nav li {
    font-size: 1.3rem;
    font-weight: bold;
}

::ng-deep .p-tabview-nav li .p-tabview-title {
    color: #333;
}

.field {
    width: 300px; /* ตั้งค่าความกว้างสำหรับ dropdown และ calendar */
}

::ng-deep .p-dropdown,
::ng-deep .p-calendar {
  width: 100% !important; /* ขยายให้ใช้เต็มพื้นที่ */
}