::ng-deep .p-tabmenu .p-menuitem-link .p-menuitem-text {
    font-size: 17px;
}

input[readonly] {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

textarea[readonly] {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #374151;
    background: #eff6fd;
    transition: box-shadow 0.2s;
    padding: 10px;
    text-align: center;
}

th, td {
    border: 1px solid #e5e7eb;
    padding: 8px;
}

tr:hover {background-color: #f7f8fa;}